@import '../../../../styles/history';

:host {
  display: block;
  height: 100vh;
  overflow-y: auto;
}

.calendar-container {
  padding: 20px;
  border-radius: 8px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;

  .calendar-header {
    margin-bottom: 10px;


  }
  .selected-dates {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 4px;

    .date-range {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .date-item {
        .label {
          font-weight: 500;
          margin-right: 5px;
        }

        .date {
          color:black;
        }
      }
    }

    .clear-btn {
      padding: 5px 10px;
      background-color: #f0f0f0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      color: #666;

      &:hover {
        background-color: #e0e0e0;
      }
    }
  }

  .calendar-body {
    .calendar-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      .month-btn {
        padding: 5px 10px;
        background-color:white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;

        &:hover {
          background-color: #e0e0e0;
        }
      }

      h3 {
        margin: 0;
        color: #333;
      }
    }

    .calendar-grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;

      .weekday {
        text-align: center;
        font-weight: 500;
        padding: 10px 0;
        color: #666;
      }

      .day {
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
        border-radius: 30px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #f0f0f0;
        }

        &.other-month {
          color: #ccc;
        }

        &.selected {
          background-color: #6E7E79;
          color: white;
        }

        &.in-range {
          background-color: #c9d3cb;
        }

        &.start-date {
          background-color: #6E7E79;
          color: white;
        }

        &.end-date {
          background-color: #6E7E79;
          color: white;
        }
      }
    }
  }


  
}
