
  <div class="history-header">
    <button class="back-btn" (click)="onBack()">
      <img src="assets/images/Arrow.svg" alt="back" class="arrow-left">
    </button>
    <h2>여행 날짜 선택</h2>
    <button class="next-btn" (click)="onNext()" [disabled]="!startDate || !endDate">다음</button>

  </div>
  <div class="calendar-container">
    <div class="calendar-header"><h4>언제 다녀오셨나요?</h4></div>
  <div class="selected-dates">
    <div class="date-range">
      <div class="date-item" *ngIf="startDate">
        <span class="date">{{startDate | date:'yyyy년 MM월 dd일'}} - {{endDate | date:'yyyy년 MM월 dd일'}}</span>
      </div>
    </div>
    <!-- <button class="clear-btn" (click)="clearDates()" *ngIf="startDate && endDate">선택 초기화</button> -->
  </div>
  
  <div class="calendar-body">
    <div class="calendar-controls">
      <button class="month-btn" (click)="previousMonth()">&lt;</button>
      <h3>{{currentYear}}년 {{currentMonth + 1}}월</h3>
      <button class="month-btn" (click)="nextMonth()">&gt;</button>
    </div>
    
    <div class="calendar-grid">
      <div class="weekday" *ngFor="let day of weekDays">{{day}}</div>
      <div 
        *ngFor="let day of calendarDays" 
        class="day" 
        [class.other-month]="day.isOtherMonth"
        [class.selected]="isSelected(day.date)"
        [class.in-range]="isInRange(day.date)"
        [class.start-date]="isStartDate(day.date)"
        [class.end-date]="isEndDate(day.date)"
        (click)="selectDate(day.date)">
        {{day.date.getDate()}}
      </div>
    </div>
  </div>

</div>
