<div class="review-container">
  <!-- My Review Section -->
  <div class="my-review-section" *ngIf="myReviewStatus !== 'WRITER'">
    <div class="section-header">
      <h3 *ngIf="myReviewStatus === 'WRITTEN'">내 리뷰</h3>
      <h3 *ngIf="myReviewStatus === 'NOT_WRITTEN'">가이드평을 남겨주세요.</h3>
      <img src="assets/images/pen.svg" class="edit-btn" (click)="navigateToEditReview()">
    </div>
    <div class="my-review-content">
        <p class="review-comment">{{ myReview?.content ||'아직 가이드평이 없습니다.' }}</p>
      <div class="stars">
        <span *ngFor="let star of [1,2,3,4,5]" 
              [class]="getStarClass(myReview?.rating || 0, star)"
              class="star">★</span>
      </div>
  
    </div>
  </div>

  <!-- Review Summary Section -->
  <div class="review-summary-section">
    <h3>리뷰 요약</h3>
    <p class="summary-text">{{ summaryReview|| '리뷰 수가 충분하지 않습니다.' }}</p>
  </div>

  <!-- Reviews List Section -->
  <div class="reviews-section">
    <h3>리뷰</h3>
    <div class="reviews-list">
      <div class="review-card" *ngFor="let review of reviews">
        <div class="review-header">
            <div class="reviewer-info">
            <img src={{review.profileImageUrl}} class="reviewer-profile-image">
          <span class="reviewer-name">{{ review.nickname }}</span>
          <div class="stars">
            <span *ngFor="let star of [1,2,3,4,5]" 
                  [class]="getStarClass(review.rating, star)"
                  class="star">★</span>
          </div>
          </div>
          <span class="review-date">{{ review.createdAt | date:'MM-dd' }}</span>
        </div>

        <p class="review-comment">{{ review.content }}</p>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>
