  <div class="history-header">
    <button class="back-btn" (click)="onBack()">
      <img src="assets/images/Arrow.svg" alt="back" class="arrow-left">
    </button>
    <h2>여행지 검색</h2>
    <button class="next-btn" (click)="onNext()">다음</button>
  </div>


  <div class="search-container">
    
    <div class="calendar-header"><h4>어디를 다녀오셨나요?</h4></div>
  <div class="search-body">
    <div class="search-input">
      <input type="text" placeholder="여행지를 검색해보세요" [(ngModel)]="searchQuery">
      <button class="search-btn" (click)="onMapClick()">검색</button>
    </div>

    <div class="guides-container">
      <div class="guide-card" *ngFor="let place of selectedPlaces">
        <div class="guide-image-container">
        <div class="guide-image">
          <img 
            [src]="'/assets/images/beach.svg'" 
            [alt]="'Default Title'"
          >
        </div>
        </div>
        <div class="guide-content">
          <h3 class="guide-title">{{ place.name }}</h3>
          <div class="guide-location">
            <img src="assets/images/Location.svg" alt="Location" class="location-icon">
            {{ place.address }}
          </div>
          <div class="guide-rating">
            <span class="stars">★</span>
            <span class="rating-value">{{ place.rating | number:'1.1-1' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
