
  <div class="history-header">
    <button class="back-btn" (click)="onBack()">
      <img src="assets/images/Arrow.svg" alt="back" class="arrow-left">
    </button>
    <h2>Write your travel record</h2>
  </div>
  <div class="travel-record-container">
  <p class="selected-date">Travel period: {{travelRecord.startDate | date:'yyyy-MM-dd'}} - {{travelRecord.endDate | date:'yyyy-MM-dd'}}</p>

  <form (ngSubmit)="onSubmit()" class="record-form">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="input" type="text" id="title" [(ngModel)]="travelRecord.title" name="title" required>
    </div>


    <div class="form-group">
      <label for="description">Travel record</label>
      <textarea class="input" id="description" [(ngModel)]="travelRecord.description" name="description" rows="5" required
        placeholder="Where, who, what activities did you do?"></textarea>
    </div>

    <div class="form-group">
      <label>Add photos</label>
      <div class="file-upload-container">
        <div class="file-upload-box" (click)="fileInput.click()">
          <i class="fas fa-plus"></i>
          <span>Add photos</span>
        </div>
        <input 
          #fileInput
          type="file" 
          accept="image/*" 
          multiple 
          (change)="onFileSelected($event)"
          style="display: none">
        
        <div class="selected-files" *ngIf="selectedFiles.length > 0">
          <div class="file-preview" *ngFor="let file of selectedFiles; let i = index">
            <img [src]="file.preview" alt="Preview">
            <button class="remove-file" (click)="removeFile(i)">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="submit-btn" [disabled]="isSubmitting">{{isSubmitting ? 'Saving...' : 'Save'}}</button>
  </form>
  <div class="footer"></div>
</div>
