<div class="mypage-container">
  <div class="profile-header">
    <h1>Profile</h1>
  </div>
  
  <div class="profile-content">
    <!-- 프로필 내용이 들어갈 영역 -->
     <div class="profile-content-left">
        <img src="assets/images/people.svg" alt="profile">
        <h3 class="profile-content-left-text">사용자</h3>
     </div>
     <div class="profile-content-line">
 
     </div>
     <div class="profile-content-right">
        <div class="profile-content-right-info">여행 키워드</div>
        <div class="profile-content-right-keyword">
          <div>여럿이서, 음식, 도시</div>
            <!-- <span class="keyword" *ngFor="let keyword of keywords">{{ keyword }}</span> -->
        </div>
     </div>
  </div>

  <div class="profile-content-bottom">
    <div class="stat-item">
      <div class="stat-value">랭킹</div>
      <div class="stat-label">1</div>
    </div>
    <div class="profile-content-line">
   
      </div>
    <div class="stat-item">
      <div class="stat-value">여행 기록 수</div>
      <div class="stat-label">20</div>
    </div>
    <div class="profile-content-line">
  
      </div>
    <div class="stat-item">
      <div class="stat-value">리뷰 수</div>
      <div class="stat-label">25</div>
    </div>
  </div>

</div>
