<div class="qna-container">
    <div class="qna-header">Questions</div>
  <!-- Question List -->
  <div class="questions-list">
      <div class="question-item" *ngFor="let question of questions" 
           [class.selected]="selectedQuestion?.id === question.id"
           >
      <div class="question-header">
        <div class="user-content">
        <img src={{question.questionerProfileImageUrl}} class="user-icon">
        <p>{{ question.question }}</p>
        </div>
        <div *ngIf="isMyGuide" class="question-content">
            <div class="answer-btn" (click)="selectQuestion(question)"><div>Answer</div></div>
          </div>
        <!-- <span class="date">{{ question.createdAt | date:'MM-dd' }}</span> -->
      </div>


      <div class=" answer-section" *ngIf="question.answer">
        <div class="answer-header">
          <!-- <span class="answer-label">답변</span> -->
          <span class="answer-date">{{ question.answeredAt }}</span>
        </div>
        <div class="answer-content">
          <p>{{ question.answer }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Question Input (for non-guide owners) -->
  <div class="question-input" *ngIf="!isMyGuide">
    <textarea 
      [(ngModel)]="newQuestion" 
      placeholder="Enter your question..."
      rows="3"
      class="question-textarea">
    </textarea>
    <img src="assets/images/Frame.svg" class="submit-btn" (click)="submitQuestion()">
  </div>

  <!-- Answer Input (for guide owners) -->
  <div class="answer-input" *ngIf="isMyGuide">
    <textarea 
      [(ngModel)]="answerText" 
      placeholder="Enter your answer..."
      rows="3"
      class="answer-textarea">
    </textarea>
    <div class="answer-buttons">
      <button class="cancel-btn" (click)="cancelAnswer()">X</button>
      <img src="assets/images/Frame.svg" class="submit-btn" (click)="submitAnswer()">
    </div>
  </div>
  <div class="footer"></div>
</div>
