<div class="guide-page">
    <!-- <img class="cover-image" [src]="images[0]" alt="여행지 사진" /> -->
    <div class="cover-image-with-button">
      <div class="image-slider" 
           [style.transform]="'translateX(-' + (currentImageIndex * 100) + '%)'"
           (touchstart)="onTouchStart($event)"
           (touchend)="onTouchEnd($event)">
        <div class="slide" *ngFor="let image of images" [style.background-image]="'url(' + image + ')'"></div>
      </div>
      <div class="button-container">
      <div class="back-button">
        <img src="assets/images/Arrow.svg" alt="Back" (click)="onBack()"/>
      </div>
      <div *ngIf="!isMyGuide" class="scrap-button">
        <img *ngIf="isScraped" src="assets/images/Bookmark.svg" alt="Scrap" (click)="onScrapFalse()"/>
        <img *ngIf="!isScraped" src="assets/images/Bookmark_false.svg" alt="Scrap" (click)="onScrapTrue()"/>
      </div>
      </div>
      <div class="slider-indicators">
        <span *ngFor="let image of images; let i = index" 
              [class.active]="i === currentImageIndex"
              (click)="setCurrentImage(i)">
        </span>
      </div>
    </div>
  
    <div class="info-card">
      <div class="title-container">
        <h2>{{title}}</h2>
      </div>
      <div class="nickname">
        <img [src]="userImage" alt="Profile Image" />
        <p>{{userName}}</p>
      </div>
      <div class="date">
        <img src="assets/images/calendar-tick.svg" alt="Date Image" />
      <p> {{startDate}} - {{endDate}} ({{tripDuration}} days trip)</p>
      </div>
      <div class="place-rating">
        <img src="assets/images/ci_location.svg" alt="Location Image" />
        <span *ngFor="let region of regions">{{region}}</span>
        <img src="assets/images/Star.svg" alt="Star Image" />
        <p>{{ reviewRating == 0 || reviewRating == 0.0 ? "-" : reviewRating }}</p>
      </div>
      <div class="tags">
        <span *ngFor="let keyword of keywords">{{ keyword }}</span>
      </div>
      
      <nav class="tab-nav">
        <span [class.active]="activeTab === 'guide'" (click)="activeTab = 'guide'">Guide</span>
        <span [class.active]="activeTab === 'qna'" (click)="activeTab = 'qna'">Q&A</span>
        <span [class.active]="activeTab === 'review'" (click)="activeTab = 'review'">Review</span>
      </nav>
    </div>
  
      <ng-container [ngSwitch]="activeTab">
        <app-guide-tab *ngSwitchCase="'guide'" [content]="content" [places]="places"></app-guide-tab>
        <app-qna-tab *ngSwitchCase="'qna'" 
          [isMyGuide]="isMyGuide" 
          [questions]="questions"
          [id]="id"
          (questionSubmitted)="onQuestionSubmitted()">
        </app-qna-tab>
        <app-review-tab *ngSwitchCase="'review'" 
          [reviews]="reviews" 
          [myReview]="myReview"
          [summaryReview]="summaryReview"
          [myReviewStatus]="myReviewStatus">
        </app-review-tab>
      </ng-container>
  </div>