<div class="guide-page">
    <!-- <img class="cover-image" [src]="images[0]" alt="여행지 사진" /> -->
    <div class="cover-image-with-button">
      <div class="image-slider" 
           [style.transform]="'translateX(-' + (currentImageIndex * 100) + '%)'"
           (touchstart)="onTouchStart($event)"
           (touchend)="onTouchEnd($event)">
        <div class="slide" *ngFor="let image of images" [style.background-image]="'url(' + image + ')'"></div>
      </div>
      <div class="back-button">
        <img src="assets/images/Arrow.svg" alt="뒤로가기" (click)="onBack()"/>
      </div>
      <div class="slider-indicators">
        <span *ngFor="let image of images; let i = index" 
              [class.active]="i === currentImageIndex"
              (click)="setCurrentImage(i)">
        </span>
      </div>
    </div>
  
    <div class="info-card">
      <div class="title-container">
        <h2>{{title}}</h2>
      </div>
      <div class="nickname">
        <img [src]="userImage" alt="프로필 이미지" />
        <p>{{userName}}</p>
      </div>
      <div class="date">
        <img src="assets/images/calendar-tick.svg" alt="날짜 이미지" />
      <p> {{startDate}} - {{endDate}} ({{tripDuration}}일간 여행)</p>
      </div>
      <div class="place-rating">
        <img src="assets/images/ci_location.svg" alt="위치 이미지" />
        <span *ngFor="let region of regions">{{region}}</span>
        <img src="assets/images/Star.svg" alt="별 이미지" />
        <p>{{reviewRating}}</p>
      </div>
      <div class="tags">
        <span *ngFor="let keyword of keywords">{{ keyword }}</span>
      </div>
      
      <nav class="tab-nav">
        <span [class.active]="activeTab === 'guide'" (click)="activeTab = 'guide'">가이드</span>
        <span [class.active]="activeTab === 'qna'" (click)="activeTab = 'qna'">Q&A</span>
        <span [class.active]="activeTab === 'review'" (click)="activeTab = 'review'">리뷰</span>
      </nav>
    </div>
  
      <ng-container [ngSwitch]="activeTab">
        <app-guide-tab *ngSwitchCase="'guide'" [content]="content" [places]="places"></app-guide-tab>
        <app-qna-tab *ngSwitchCase="'qna'" [isMyGuide]="isMyGuide" ></app-qna-tab>
        <app-review-tab *ngSwitchCase="'review'"></app-review-tab>
      </ng-container>
  </div>