<nav class="nav-bar">
  <div class="nav-item">
  <a routerLink="/home" routerLinkActive="active">
    <img src="assets/images/home.svg" alt="Home">
    Home
  </a>
  </div>
  <div class="nav-item">
  <a routerLink="/explore" routerLinkActive="active">
    <img src="assets/images/find.svg" alt="Explore">
    Explore
  </a>
  </div>
  <div class="nav-item">
  <a routerLink="/history" routerLinkActive="active">
    <img src="assets/images/plus.svg" class="plus-icon" alt="History">
  </a>
  </div>
  <div class="nav-item">
  <a routerLink="/chatbot" routerLinkActive="active">
    <img src="assets/images/chat.svg" alt="Chatbot">
    Chatbot
  </a>
  </div>
  <div class="nav-item">
    <a routerLink="/mypage" routerLinkActive="active">
    <img src="assets/images/mypage.svg" alt="My Page">
    My Page
  </a>
  </div>
</nav>