<nav class="nav-bar">
  <div class="nav-item">
  <a routerLink="/home" routerLinkActive="active">
    <img src="assets/images/home.svg" alt="홈">
    Home
  </a>
  </div>
  <div class="nav-item">
  <a routerLink="/explore" routerLinkActive="active">
    <img src="assets/images/find.svg" alt="탐색">
    Explore
  </a>
  </div>
  <div class="nav-item">
  <a routerLink="/history" routerLinkActive="active">
    <img src="assets/images/plus.svg" class="plus-icon" alt="기록">
  </a>
  </div>
  <div class="nav-item">
  <a routerLink="/chatbot" routerLinkActive="active">
    <img src="assets/images/chat.svg" alt="챗봇">
    Chatbot
  </a>
  </div>
  <div class="nav-item">
    <a routerLink="/mypage" routerLinkActive="active">
    <img src="assets/images/mypage.svg" alt="마이페이지">
    My Page
  </a>
  </div>
</nav>