<div class="ranking-header">
  <img src="assets/images/S2_logo.svg" alt="ranking-header">
</div>
<div class="history-header">
  <button class="back-btn" (click)="onBack()">
    <img src="assets/images/Arrow.svg" alt="back" class="arrow-left">
  </button>
  <h2>Ranking</h2>
  <button class="next-btn" (click)="toggleModal()">Ranking Criteria</button>
</div>
<div class="ranking-container">


  <div class="ranking-content">
    
    <div class="guides-container">
      <div class="guide-card" *ngFor="let guide of rankings; let i = index">
        <div *ngIf="i !==0" class="rank-number">{{ i }}</div>
        <div class="guide-image-container">
        <div class="guide-image">
          <img 
            [src]="guide.profileImageUrl || '/assets/images/beach.svg'" 
            [alt]="'Default Title'"
          >
        </div>
        </div>
        <div class="guide-content">
          <h3 class="guide-title" *ngIf="i !==0">{{ guide.nickname }}</h3>
          <div class="rank-number-container" *ngIf="i ===0">
          <h3 class="guide-title" >My Rank</h3>
          <h3 class="guide-rank">{{ guide.rank }}th</h3>
          </div>
          <div class="guide-location">
            Travel Keywords
          </div>
          
          <div class="guide-keywords">
            <span class="keyword" *ngFor="let keyword of guide.keywords">{{ keyword }}</span>
          </div>
        </div>
      </div>
    </div>

    



    
  </div>



</div>

<!-- Modal -->
<div class="modal-overlay" *ngIf="showModal" (click)="toggleModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h3>Ranking Calculation Criteria</h3>
      <button class="close-btn" (click)="toggleModal()">×</button>
    </div>
    <div class="modal-body">
      <p>Ranking is calculated based on the following criteria:</p>
      <ul>
        
        <li>Update period: every Monday</li>
        <li>Basic score</li>
        <ul>
          <li>1 guide +1 point</li>
          <li>1 review +1 point</li>
        </ul>
        <li>Scarcity score (based on the number of places in the guide)</li>
        <ul>
          <li>0~99 reviews: +3 points</li>
          <li>100~199 reviews: +2 points</li>
          <li>200~299 reviews: +1 point</li>
          <li>리뷰 수 300개 이상: +0점</li>
        </ul>
        <li>Guide rating score</li>
        <ul>  
          <li>4.0 or higher: +1 point per guide</li>
          <li>Rating changes are also reflected</li>
        </ul>
        <li>Note: Deleted content is excluded from the score.</li>
      </ul>
    </div>
  </div>
</div> 