<div class="ranking-header">
  <img src="assets/images/S2_logo.svg" alt="ranking-header">
</div>
<div class="history-header">
  <button class="back-btn" (click)="onBack()">
    <img src="assets/images/Arrow.svg" alt="back" class="arrow-left">
  </button>
  <h2>랭킹</h2>
  <button class="next-btn" (click)="toggleModal()">랭킹 기준</button>
</div>
<div class="ranking-container">


  <div class="ranking-content">
    
    <div class="guides-container">
      <div class="guide-card" *ngFor="let guide of rankings; let i = index">
        <div *ngIf="i !==0" class="rank-number">{{ i }}</div>
        <div class="guide-image-container">
        <div class="guide-image">
          <img 
            [src]="guide.profileImageUrl || '/assets/images/beach.svg'" 
            [alt]="'Default Title'"
          >
        </div>
        </div>
        <div class="guide-content">
          <h3 class="guide-title" *ngIf="i !==0">{{ guide.nickname }}</h3>
          <div class="rank-number-container" *ngIf="i ===0">
          <h3 class="guide-title" >내 순위</h3>
          <h3 class="guide-rank">{{ guide.rank }}등</h3>
          </div>
          <div class="guide-location">
            여행 키워드
          </div>
          
          <div class="guide-keywords">
            <span class="keyword" *ngFor="let keyword of guide.keywords">{{ keyword }}</span>
          </div>
        </div>
      </div>
    </div>

    



    
  </div>



</div>

<!-- Modal -->
<div class="modal-overlay" *ngIf="showModal" (click)="toggleModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h3>랭킹 산정 기준</h3>
      <button class="close-btn" (click)="toggleModal()">×</button>
    </div>
    <div class="modal-body">
      <p>랭킹은 다음과 같은 기준으로 산정됩니다:</p>
      <ul>
        
        <li>업데이트 주기: 매주 월요일</li>
        <li>기본 점수</li>
        <ul>
          <li>가이드 1개당 +1점</li>
          <li>리뷰 1개당 +1점</li>
        </ul>
        <li>희소성 점수 (가이드 내 세부 장소 기준)</li>
        <ul>
          <li>리뷰 수 0~99개: +3점</li>
          <li>리뷰 수 100~199개: +2점</li>
          <li>리뷰 수 200~299개: +1점</li>
          <li>리뷰 수 300개 이상: +0점</li>
        </ul>
        <li>가이드 평점 가점</li>
        <ul>  
          <li>별점 4.0 이상 시 가이드당 +1점</li>
          <li>평점 변동 시 가점도 반영됨</li>
        </ul>
        <li>주의사항: 삭제된 콘텐츠는 점수에서 제외됩니다.</li>
      </ul>
    </div>
  </div>
</div> 