<div class="home-container">
  <!-- 로고 섹션 -->
  <div class="logo-section">
    <img src="assets/images/S2_logo_ver2.svg" alt="Home Logo" class="home-logo">
  </div>

  <!-- 가이드 페이지 스크롤 섹션 -->
  <div class="guides-section">
    <h3>{{ userNickname }}님과 어울리는 맞춤형 가이드 엄선!</h3>
    <div class="guides-scroll">
      <div class="guide-card" *ngFor="let recommandedGuide of recommandedGuides">
        <img [src]="recommandedGuide.thumbnailUrl" [alt]="recommandedGuide.title" class="guide-image">
        <div class="guide-content">
          <h5>{{ recommandedGuide.title }}</h5>
          <div class="location-container">
            <img src="assets/images/Location.svg" alt="location" class="location">
            <p>{{ recommandedGuide.regions }}</p>
          </div>
          <div class="guide-keyword">
            <span class="keyword" *ngFor="let keyword of recommandedGuide.keywords">{{ keyword }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 상위 spotter 섹션 -->
  <div class="top-spotters-section">
    <div class="top-spotters-section-title">
      <h3>최근 1개월 내 상위 1% spotter</h3>
      <div class="ranking-button" (click)="navigateToRanking()">
        <p>전체보기</p>
        <img src="assets/images/Arrow.svg" alt="arrow-right" class="arrow-right">
      </div>
    </div>
    <div class="spotters-grid">
      <div class="spotter-card" *ngFor="let spotter of topSpotters">
        <div class="profile-picture">
          <img [src]="spotter.profileImageUrl" [alt]="spotter.nickname">
        </div>
        <p class="nickname">{{ spotter.nickname }}</p>
      </div>
    </div>
  </div>

  <!-- 인기 장소 섹션 -->
  <div class="guides-section">
    <h3>방금 올라온 따끈따끈한 가이드</h3>
    <div class="guides-scroll">
      <div class="guide-card" *ngFor="let spot of popularSpots">
        <img [src]="spot.thumbnailUrl" [alt]="spot.name" class="guide-image">
        <div class="guide-content">
          <h5>{{ spot.title }}</h5>
          <div class="location-container">
            <img src="assets/images/Location.svg" alt="location" class="location">
            <p>{{ spot.regions }}</p>
          </div>
          <div class="guide-keyword">
            <span class="keyword" *ngFor="let keyword of spot.keywords">{{ keyword }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--비슷한 여행지 -->
  <div class="guides-section">
    <h3>{{ userNickname }}님이 다녀온 곳과 비슷한 여행지</h3>
    <div class="guides-scroll">
      <div class="guide-card" *ngFor="let spot of recommendedRegions">
        <img [src]="spot.imageUrl" [alt]="spot.name" class="guide-image">
        <div class="guide-content">
          <h5>{{ spot.region }}</h5>
          <div class="location-container">
            <img src="assets/images/Location.svg" alt="location" class="location">
            <p>{{ spot.country }}</p>
          </div>
          <div class="guide-keyword">
            <span class="keyword" *ngFor="let keyword of spot.keywords">{{ keyword }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="empty"></div>
</div>

