<div class="home-container">
  <!-- logo section -->
  <div class="logo-section">
    <img src="assets/images/S2_logo_ver2.svg" alt="Home Logo" class="home-logo">
  </div>

  <!-- guide page scroll section -->
  <app-guide-list
  [title]="'A selection of guides that match ' + userName + '!'"
  [guides]="recommandedGuides"
  (clickGuide)="navigateToGuide($event)"
></app-guide-list>

  <!-- top spotter section -->
  <div class="top-spotters-section">
    <div class="top-spotters-section-title">
      <h3>Top 1% spotter in the past month</h3>
      <div class="ranking-button" (click)="navigateToRanking()">
        <p>View all</p>
        <img src="assets/images/Arrow.svg" alt="arrow-right" class="arrow-right">
      </div>
    </div>
    <div class="spotters-grid">
      <div class="spotter-card" *ngFor="let spotter of topSpotters">
        <div class="rank-number">{{ spotter.rank }}</div>
        <div class="profile-picture">
          <img [src]="spotter.profileImageUrl" [alt]="spotter.nickname">
        </div>
        <p class="nickname">{{ spotter.nickname }}</p>
      </div>
    </div>
  </div>

  <app-guide-list
  [title]="'Recently uploaded hot guides'"
  [guides]="popularSpots"
  (clickGuide)="navigateToGuide($event)"
></app-guide-list>


<app-guide-list
  [title]="'A selection of places that match ' + userName + '!'"
  [guides]="recommendedRegions"
  (clickGuide)="navigateNothing()"
></app-guide-list>


  <div class="empty"></div>
</div>

