.home-container {
  padding: 0 20px 100px 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  overflow-y: auto;
}

.logo-section {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;

  .home-logo {
    width: 100px;
    height: auto;
  }
}

.empty{
    height: 50px;
}

.rank-number{
  position: absolute;
  top: -5px;
  left: -5px;  
  width: 25px;
height: 25px;
flex-shrink: 0;
color: white;
background-color: #A0AEA2;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;


}

.top-spotters-section {
    .top-spotters-section-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .ranking-button {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 11px;
            .arrow-right {  
                width: 10px;
                height:10px;
            }
        }
        
    }

  .spotters-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 0;
    justify-items: center;

    .spotter-card {
      text-align: center;
      position: relative;

      .profile-picture {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .nickname {
        font-size: 14px;
        font-weight: var(--font-weight-medium);
        color: #666;
      }
    }
  }
}


