<div class="home-container">
  <!-- 로고 섹션 -->
  <div class="logo-section">
    <img src="assets/images/S2_logo_ver2.svg" alt="Home Logo" class="home-logo">
  </div>

  <!-- 가이드 페이지 스크롤 섹션 -->
  <app-guide-list
  [title]="userName + '님과 어울리는 맞춤형 가이드 엄선!'"
  [guides]="recommandedGuides"
  (clickGuide)="navigateToGuide($event)"
></app-guide-list>

  <!-- 상위 spotter 섹션 -->
  <div class="top-spotters-section">
    <div class="top-spotters-section-title">
      <h3>최근 1개월 내 상위 1% spotter</h3>
      <div class="ranking-button" (click)="navigateToRanking()">
        <p>전체보기</p>
        <img src="assets/images/Arrow.svg" alt="arrow-right" class="arrow-right">
      </div>
    </div>
    <div class="spotters-grid">
      <div class="spotter-card" *ngFor="let spotter of topSpotters">
        <div class="rank-number">{{ spotter.rank }}</div>
        <div class="profile-picture">
          <img [src]="spotter.profileImageUrl" [alt]="spotter.nickname">
        </div>
        <p class="nickname">{{ spotter.nickname }}</p>
      </div>
    </div>
  </div>

  <app-guide-list
  [title]="'방금 올라온 따끈따끈한 가이드'"
  [guides]="popularSpots"
  (clickGuide)="navigateToGuide($event)"
></app-guide-list>


<app-guide-list
  [title]="userName + '님이 다녀온 곳과 비슷한 여행지'"
  [guides]="recommendedRegions"
  (clickGuide)="navigateToGuide($event)"
></app-guide-list>


  <div class="empty"></div>
</div>

