<div class="page-container">
    <div class="content-container">
      <div class="content-container-title">
        <hr>
        <div></div>
        <h2>{{nickname}}, <br>Welcome to SecretSpot! <br>
        Let's find your secret spot together!</h2>
        </div>
      <img src="assets/images/S2_logo_ver2.svg" alt="SecretSpot Logo" class="logo">
    </div>
    
    <div class="button-container" >
      <button class="button" (click)="goToHome()">
        <div>Find my secret spot!</div>
      </button>
    </div>
  </div> 