<div class="history-header">
  <button class="back-btn" (click)="onBack()">
    <img src="assets/images/Arrow.svg" alt="back" class="arrow-left">
  </button>
  <h2>{{summary.startDate | date:'yyyy-MM-dd'}} ~ {{summary.endDate | date:'yyyy-MM-dd'}} 여행 요약</h2>
</div>
<div class="summary-container">

  <div class="summary-content">
    <div class="keywords-section">
      <h3>I summarized the keywords of your travel.</h3>
      <div class="keyword-list">
        <span class="keyword" *ngFor="let keyword of summary.keywords">{{keyword}}</span>
      </div>
    </div>

    <div class="locations-section">
      <h3>I will classify your guide as this place.</h3>
      <div class="location-list">
        <span class="location" *ngFor="let location of summary.regions">{{location}}</span>
      </div>
    </div>


  </div>
  
  <div class="summary-footer">
    <button class="submit-btn" (click)="onPublish()">Publish</button>
  </div>
</div> 